@model IEnumerable<StudentFinalProject.Models.teacher>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "AddImage")
</p>
*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.photo);
                    var imgsrc = string.Format("data:photo/gif;base64,{0}", base64);
                }
                <img src="@imgsrc" style="max-width: 100px; max-height:100px" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
